<div id="engadget-footer-sitemap-container">
  <footer id="engadget-footer-sitemap">
    <div class="links">
      <div class="link-column">
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </ul>
      </div>
      <div class="link-column">
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </ul>
      </div>
       <div class="link-column">
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </ul>
      </div>
      <div class="link-column">
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
<div id="engadget-footer-social-container">
    <footer id="engadget-footer-social">
        <div class="footer-right float-right">
            <h6>Follow us</h6>
            <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
            <i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
            <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
        </div>
    </footer>
</div>
<div id="engadget-footer-contact-details-container">
    <footer id="engadget-footer-contact-details">
        <div class="footer-left">
            <div class="contact-details">
                <ul>
                    <li><img src="/assets/img/logo_footer.png"></li>
                    <li><i class="fa fa-phone fa-lg" aria-hidden="true"></i> 0203 4328820</li>
                    <li><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> Old Batford Mill, Lower Luton Road, Harpenden, AL5 5BZ</li>
                </ul>
            </div>
        </div>
    </footer>
</div>
