<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu-hover-lines menu align-right" data-dropdown-menu>
      {% for item in site.data.nav %}
      <li{% if item.url == page.url %} class="active"{% endif %}><a href="{{item.url}}">{{item.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>
