<header>
  <div class="wrapper">
    <img src="{{ base }}/assets/img/logo-wht.png" style="height: 34px;" alt="Crafty" class="logo">
    <a href="#" class="menu_icon" id="menu_icon"></a>
    <nav id="nav_menu">
      <ul>
        {% for item in site.data.nav %}
        <li{% if item.url == page.url %} class="active"{% endif %}><a href="{{item.url}}">{{item.title}}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <ul class="social">
      <li><a class="fb" href="#"></a></li>
      <li><a class="twitter" href="#"></a></li>
      <li><a class="gplus" href="#"></a></li>
    </ul>
  </div>
</header><!--  End Header  -->
