
.post {
  @include xy-grid-container;
  @include xy-grid;

  margin-top: 1.5rem;

  h1 {
    font-size: 3rem;
  }

  .post-header {

    .post-image {
      height: 20vh;
      width: 100%;
      background-size: cover;
      text-align: center;
      display: flex;
      align-items: center;
    }

    .tags {

    }

  }

  .post-content {
    color: $black;
  }

}
