.site-features {

  margin-top: 2rem;
  text-align: center;

  .fa {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: $primary-color;
  }

  h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

}
