.features {
  @include xy-grid-container;
}

.site-features {


  @include xy-grid;
  @include xy-gutters($negative: true);
  text-align: center;
  max-width: $global-width;

  .feature {
    @include xy-cell(4);
    margin-top: 1rem;

    @include breakpoint(small only) {
      @include xy-cell(12);
    }
  }

  .fa {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: $primary-color;
  }

  h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

}
