---
---

// Our variables

// imports
@import 'settings';
@import 'foundation';

// custom components
@import 'footer';
@import 'hero';
@import 'menu-hover';
@import 'user-card';
@import 'site-features';
@import 'testimonials';
@import 'post';
@import 'news-card';

// Our content here



.blog-image {
  max-height: rem-calc(248);
  background-size: cover;
  display: block;
  position: relative;
}
