---
title: OJC Technologies Blog
banner: OJC Technologies Blog
layout: base
---
	{% include hero.html image="https://unsplash.com/photos/EPppwcVTZEo/download" %}

	<div class="grid-container posts">
		{% for post in site.posts %}
		<div class="card news-card">
		  <div class="card-divider card-image" style="background-image: url('{{ post.image }}')"> </div>
		  <div class="card-section">
		    <div class="news-card-date"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.date | date_to_string }}</div>
		    <article class="news-card-article">
		      <h4 class="news-card-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
		      <p class="news-card-description">{{post.excerpt}}</p>
		    </article>
		    <div class="news-card-author">
		      <div class="news-card-author-image">
		        <img src="https://i.imgur.com/lAMD2kS.jpg" alt="user">
		      </div>
		      <div class="news-card-author-name">
		        By <a href="#">{{ post.author }}</a>
		      </div>
		    </div>
		  </div>
		</div>
		{% endfor %}
	</div>
