---
layout: base
---

<div class="row expanded collapse">
  <div class="column">
    <div class="large-article-header" style="background-image: url('{{page.image}}')">
      <div class="large-article-header-content">
        <div class="center-container">
          <div class="article-date">
            <p>Published on {{page.date | date_to_string}}</p>
          </div>
          <div class="article-title">
            <h1>{{page.title}}</h1>
          </div>
          <div class="article-details">
            <div class="article-author">
              <img src="https://unsplash.it/50/50?image=1005" alt="" />
              <a href="/about">{{page.author}}</a>
            </div>
            <div class="article-comments">
              <a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 3 Comments</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <ul class="breadcrumbs">
        <li><i class="fa fa-tags" aria-hidden="true"></i></li>
        {% for tag in page.tags %}
        <li>{{ tag }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="cell post-content">
      {{content}}
    </div>
    <div class="cell page-divider"></div>
    <div class="cell">
      <div class="media-object">
        <div class="media-object-section">
          <img src= "https://placeimg.com/200/200/people">
        </div>
        <hr/>
        <div class="media-object-section">
          <h4>Oliver Clarke</h4>
          <p>Some text here which describes a bit about me. This might get replaced with something that's a bit more useful but for now this is all there is. Hopefully there will be a bit more content here soon when we have got together and written detailed bios for everyone. In the mean time this is just some boilerplate plaecholder text to fill the gaps on the page.</p>
        </div>
      </div>
    </div>
  </div>
</div>
